USE [master]
GO
/****** Object:  Database [QLDSV]    Script Date: 08/12/2021 11:17:30 CH ******/
CREATE DATABASE [QLDSV]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLDSV', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\QLDSV.mdf' , SIZE = 30720KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'QLDSV_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\QLDSV_log.ldf' , SIZE = 32448KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLDSV].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLDSV]
GO
/****** Object:  User [HTKN]    Script Date: 08/12/2021 11:17:30 CH ******/
CREATE USER [HTKN] FOR LOGIN [HTKN] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  DatabaseRole [MSmerge_PAL_role]    Script Date: 08/12/2021 11:17:30 CH ******/
CREATE ROLE [MSmerge_PAL_role]
GO
/****** Object:  DatabaseRole [MSmerge_EE6FC4C55E704131A458E97EB5350099]    Script Date: 08/12/2021 11:17:30 CH ******/
CREATE ROLE [MSmerge_EE6FC4C55E704131A458E97EB5350099]
GO
/****** Object:  DatabaseRole [MSmerge_5FF083D9A87F466ABD09DDAF5A3BDD5E]    Script Date: 08/12/2021 11:17:30 CH ******/
CREATE ROLE [MSmerge_5FF083D9A87F466ABD09DDAF5A3BDD5E]
GO
/****** Object:  DatabaseRole [MSmerge_15D13E6DEB9A493F85DCD69F51C9E086]    Script Date: 08/12/2021 11:17:30 CH ******/
CREATE ROLE [MSmerge_15D13E6DEB9A493F85DCD69F51C9E086]
GO
ALTER ROLE [db_owner] ADD MEMBER [HTKN]
GO
ALTER ROLE [MSmerge_PAL_role] ADD MEMBER [MSmerge_EE6FC4C55E704131A458E97EB5350099]
GO
ALTER ROLE [MSmerge_PAL_role] ADD MEMBER [MSmerge_5FF083D9A87F466ABD09DDAF5A3BDD5E]
GO
ALTER ROLE [MSmerge_PAL_role] ADD MEMBER [MSmerge_15D13E6DEB9A493F85DCD69F51C9E086]
GO
/****** Object:  Schema [MSmerge_PAL_role]    Script Date: 08/12/2021 11:17:30 CH ******/
CREATE SCHEMA [MSmerge_PAL_role]
GO
/****** Object:  Table [dbo].[CT_DONGHOCPHI]    Script Date: 08/12/2021 11:17:30 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CT_DONGHOCPHI](
	[MASV] [nchar](10) NOT NULL,
	[NIENKHOA] [nchar](9) NOT NULL,
	[HOCKY] [int] NOT NULL,
	[NGAYDONG] [date] NOT NULL,
	[SOTIENDONG] [int] NOT NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [PK_CT_DONGHOCPHI] PRIMARY KEY CLUSTERED 
(
	[MASV] ASC,
	[NIENKHOA] ASC,
	[HOCKY] ASC,
	[NGAYDONG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DANGKY]    Script Date: 08/12/2021 11:17:30 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DANGKY](
	[MALTC] [int] NOT NULL,
	[MASV] [nchar](10) NOT NULL,
	[DIEM_CC] [int] NULL,
	[DIEM_GK] [float] NULL,
	[DIEM_CK] [float] NULL,
	[HUYDANGKY] [bit] NULL CONSTRAINT [DF_DANGKY_HUYDANGKY]  DEFAULT ('FALSE'),
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL CONSTRAINT [MSmerge_df_rowguid_8714A577433F43B685507239CCF8564A]  DEFAULT (newsequentialid()),
 CONSTRAINT [PK_DANGKY] PRIMARY KEY CLUSTERED 
(
	[MALTC] ASC,
	[MASV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[GIANGVIEN]    Script Date: 08/12/2021 11:17:30 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GIANGVIEN](
	[MAGV] [nchar](10) NOT NULL,
	[MAKHOA] [nchar](10) NOT NULL,
	[HO] [nvarchar](50) NULL,
	[TEN] [nvarchar](10) NULL,
	[HOCVI] [nvarchar](20) NULL,
	[HOCHAM] [nvarchar](20) NULL,
	[CHUYENMON] [nvarchar](50) NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL CONSTRAINT [MSmerge_df_rowguid_DFB5CEF11AEC495BBB13B788F0184CD8]  DEFAULT (newsequentialid()),
 CONSTRAINT [PK_GIANGVIEN] PRIMARY KEY CLUSTERED 
(
	[MAGV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HOCPHI]    Script Date: 08/12/2021 11:17:30 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOCPHI](
	[MASV] [nchar](10) NOT NULL,
	[NIENKHOA] [nchar](9) NOT NULL,
	[HOCKY] [int] NOT NULL,
	[HOCPHI] [int] NOT NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [PK_HOCPHI] PRIMARY KEY CLUSTERED 
(
	[MASV] ASC,
	[NIENKHOA] ASC,
	[HOCKY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[KHOA]    Script Date: 08/12/2021 11:17:30 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHOA](
	[MAKHOA] [nchar](10) NOT NULL,
	[TENKHOA] [nvarchar](50) NOT NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL CONSTRAINT [MSmerge_df_rowguid_6CD223C8C36841628908CA43D9BB1C48]  DEFAULT (newsequentialid()),
 CONSTRAINT [PK_KHOA] PRIMARY KEY CLUSTERED 
(
	[MAKHOA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LOP]    Script Date: 08/12/2021 11:17:30 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOP](
	[MALOP] [nchar](10) NOT NULL,
	[TENLOP] [nvarchar](50) NOT NULL,
	[KHOAHOC] [nchar](9) NOT NULL,
	[MAKHOA] [nchar](10) NOT NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL CONSTRAINT [MSmerge_df_rowguid_E87BC541B61A4CC5A983231848DF0D5E]  DEFAULT (newsequentialid()),
 CONSTRAINT [PK_LOP] PRIMARY KEY CLUSTERED 
(
	[MALOP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LOPTINCHI]    Script Date: 08/12/2021 11:17:30 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOPTINCHI](
	[MALTC] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[NIENKHOA] [nchar](9) NOT NULL,
	[HOCKY] [int] NOT NULL,
	[MAMH] [nchar](10) NOT NULL,
	[NHOM] [int] NOT NULL,
	[MAGV] [nchar](10) NOT NULL,
	[MAKHOA] [nchar](10) NOT NULL,
	[SOSVTOITHIEU] [int] NOT NULL,
	[HUYLOP] [bit] NOT NULL CONSTRAINT [DF_LOPTINCHI_HUYLOP]  DEFAULT ('false'),
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL CONSTRAINT [MSmerge_df_rowguid_F04024965C094A78A3E58B557B7DE6FC]  DEFAULT (newsequentialid()),
 CONSTRAINT [PK_LOPTINCHI] PRIMARY KEY CLUSTERED 
(
	[MALTC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MONHOC]    Script Date: 08/12/2021 11:17:30 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MONHOC](
	[MAMH] [nchar](10) NOT NULL,
	[TENMH] [nvarchar](50) NOT NULL,
	[SOTIET_LT] [int] NOT NULL,
	[SOTIET_TH] [int] NOT NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL CONSTRAINT [MSmerge_df_rowguid_66970D60EC36459CAED141CFCC1D57F9]  DEFAULT (newsequentialid()),
 CONSTRAINT [PK_MONHOC] PRIMARY KEY CLUSTERED 
(
	[MAMH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SINHVIEN]    Script Date: 08/12/2021 11:17:30 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SINHVIEN](
	[MASV] [nchar](10) NOT NULL,
	[HO] [nvarchar](50) NOT NULL,
	[TEN] [nvarchar](10) NOT NULL,
	[PHAI] [bit] NOT NULL CONSTRAINT [DF_SINHVIEN_PHAI]  DEFAULT ('false'),
	[DIACHI] [nvarchar](100) NULL,
	[NGAYSINH] [date] NULL,
	[MALOP] [nchar](10) NOT NULL,
	[DANGHIHOC] [bit] NOT NULL CONSTRAINT [DF_SINHVIEN_DANGHIHOC]  DEFAULT ('false'),
	[PASSWORD] [nvarchar](40) NULL CONSTRAINT [DF_SINHVIEN_PASSWORD]  DEFAULT (''),
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL CONSTRAINT [MSmerge_df_rowguid_B8A6B20740FE496BAA76D98C55E799A7]  DEFAULT (newsequentialid()),
 CONSTRAINT [PK_SINHVIEN] PRIMARY KEY CLUSTERED 
(
	[MASV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  View [dbo].[Get_Subscribes]    Script Date: 08/12/2021 11:17:30 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[Get_Subscribes]
AS
SELECT TENKHOA=PUBS.description, TENSERVER=subscriber_server
 FROM sysmergepublications  PUBS, sysmergesubscriptions SUBS
 WHERE PUBS.pubid = SUBS.pubid AND  publisher <> subscriber_server


GO
INSERT [dbo].[DANGKY] ([MALTC], [MASV], [DIEM_CC], [DIEM_GK], [DIEM_CK], [HUYDANGKY], [rowguid]) VALUES (1, N'n15dccn001', 1, 2, 4, 0, N'3baab993-652f-ec11-8fc9-005056c00008')
INSERT [dbo].[DANGKY] ([MALTC], [MASV], [DIEM_CC], [DIEM_GK], [DIEM_CK], [HUYDANGKY], [rowguid]) VALUES (1, N'n15dccn002', 4, NULL, NULL, 0, N'46490295-3f2e-ec11-8fc9-b46921db86e7')
INSERT [dbo].[DANGKY] ([MALTC], [MASV], [DIEM_CC], [DIEM_GK], [DIEM_CK], [HUYDANGKY], [rowguid]) VALUES (2, N'N15DCCN001', NULL, NULL, NULL, 0, N'9d19e7df-cb4e-ec11-8fce-b46921db86e3')
INSERT [dbo].[GIANGVIEN] ([MAGV], [MAKHOA], [HO], [TEN], [HOCVI], [HOCHAM], [CHUYENMON], [rowguid]) VALUES (N'GV01      ', N'CNTT      ', N'Phan Thanh', N'Liêm', N'Thạc sĩ', N'', N'Phần mềm', N'9d2695a7-ac10-ec11-8fc5-b46921db86e7')
INSERT [dbo].[GIANGVIEN] ([MAGV], [MAKHOA], [HO], [TEN], [HOCVI], [HOCHAM], [CHUYENMON], [rowguid]) VALUES (N'GV02      ', N'CNTT      ', N'Lê Thành', N'Trì', N'Thạc sĩ', N'', N'Mạng máy tính', N'9e2695a7-ac10-ec11-8fc5-b46921db86e7')
INSERT [dbo].[GIANGVIEN] ([MAGV], [MAKHOA], [HO], [TEN], [HOCVI], [HOCHAM], [CHUYENMON], [rowguid]) VALUES (N'GV03      ', N'CNTT      ', N'Huỳnh Trung', N'Trụ', N'Thạc sĩ', N'', N'Web, Phần mềm', N'9f2695a7-ac10-ec11-8fc5-b46921db86e7')
INSERT [dbo].[KHOA] ([MAKHOA], [TENKHOA], [rowguid]) VALUES (N'CNTT      ', N'Công nghệ thông tin', N'942695a7-ac10-ec11-8fc5-b46921db86e7')
INSERT [dbo].[KHOA] ([MAKHOA], [TENKHOA], [rowguid]) VALUES (N'VT        ', N'Viễn Thông', N'952695a7-ac10-ec11-8fc5-b46921db86e7')
INSERT [dbo].[LOP] ([MALOP], [TENLOP], [KHOAHOC], [MAKHOA], [rowguid]) VALUES (N'D15CQCP01 ', N'Công nghệ phần mềm 2015', N'2015-2019', N'CNTT      ', N'a22695a7-ac10-ec11-8fc5-b46921db86e7')
INSERT [dbo].[LOP] ([MALOP], [TENLOP], [KHOAHOC], [MAKHOA], [rowguid]) VALUES (N'D15CQIS01 ', N'Hệ thống thông tin 2015', N'2015-2019', N'CNTT      ', N'a32695a7-ac10-ec11-8fc5-b46921db86e7')
INSERT [dbo].[LOP] ([MALOP], [TENLOP], [KHOAHOC], [MAKHOA], [rowguid]) VALUES (N'D15CQMT01 ', N'Mạng máy tính 2015', N'2015-2019', N'CNTT      ', N'a42695a7-ac10-ec11-8fc5-b46921db86e7')
SET IDENTITY_INSERT [dbo].[LOPTINCHI] ON 

INSERT [dbo].[LOPTINCHI] ([MALTC], [NIENKHOA], [HOCKY], [MAMH], [NHOM], [MAGV], [MAKHOA], [SOSVTOITHIEU], [HUYLOP], [rowguid]) VALUES (1, N'2021-2022', 1, N'ABC       ', 1, N'GV01      ', N'CNTT      ', 2, 0, N'b72695a7-ac10-ec11-8fc5-b46921db86e7')
INSERT [dbo].[LOPTINCHI] ([MALTC], [NIENKHOA], [HOCKY], [MAMH], [NHOM], [MAGV], [MAKHOA], [SOSVTOITHIEU], [HUYLOP], [rowguid]) VALUES (2, N'2021-2022', 1, N'CTDL      ', 2, N'GV01      ', N'CNTT      ', 2, 1, N'b82695a7-ac10-ec11-8fc5-b46921db86e7')
INSERT [dbo].[LOPTINCHI] ([MALTC], [NIENKHOA], [HOCKY], [MAMH], [NHOM], [MAGV], [MAKHOA], [SOSVTOITHIEU], [HUYLOP], [rowguid]) VALUES (3, N'2021-2022', 2, N'XLA       ', 1, N'GV05      ', N'VT        ', 2, 0, N'bb2695a7-ac10-ec11-8fc5-b46921db86e7')
SET IDENTITY_INSERT [dbo].[LOPTINCHI] OFF
INSERT [dbo].[MONHOC] ([MAMH], [TENMH], [SOTIET_LT], [SOTIET_TH], [rowguid]) VALUES (N'ABC       ', N'ABCCD', 14, 1, N'7ef84a2e-df50-ec11-8fce-b46921db86e3')
INSERT [dbo].[MONHOC] ([MAMH], [TENMH], [SOTIET_LT], [SOTIET_TH], [rowguid]) VALUES (N'AV        ', N'Anh văn', 45, 0, N'962695a7-ac10-ec11-8fc5-b46921db86e7')
INSERT [dbo].[MONHOC] ([MAMH], [TENMH], [SOTIET_LT], [SOTIET_TH], [rowguid]) VALUES (N'CTDL      ', N'Cấu trúc dữ liệu & Giải thuật', 40, 5, N'972695a7-ac10-ec11-8fc5-b46921db86e7')
INSERT [dbo].[SINHVIEN] ([MASV], [HO], [TEN], [PHAI], [DIACHI], [NGAYSINH], [MALOP], [DANGHIHOC], [PASSWORD], [rowguid]) VALUES (N'n15dccn001', N'Võ Văn', N'Đức', 0, N'Quận 9', CAST(N'1997-02-08' AS Date), N'D15CQCP01 ', 0, N'123456', N'aa2695a7-ac10-ec11-8fc5-b46921db86e7')
INSERT [dbo].[SINHVIEN] ([MASV], [HO], [TEN], [PHAI], [DIACHI], [NGAYSINH], [MALOP], [DANGHIHOC], [PASSWORD], [rowguid]) VALUES (N'N15DCCN002', N'Lê Hữu', N'Tài', 0, N'Thủ Đức', CAST(N'1997-03-07' AS Date), N'D15CQCP01 ', 0, N'123456', N'ab2695a7-ac10-ec11-8fc5-b46921db86e7')
INSERT [dbo].[SINHVIEN] ([MASV], [HO], [TEN], [PHAI], [DIACHI], [NGAYSINH], [MALOP], [DANGHIHOC], [PASSWORD], [rowguid]) VALUES (N'N15DCCN003', N'Hoàng Thanh', N'Bùi', 0, N'Quận 9', CAST(N'1997-08-07' AS Date), N'D15CQCP01 ', 0, N'123456', N'ac2695a7-ac10-ec11-8fc5-b46921db86e7')
/****** Object:  Index [MSmerge_index_245575913]    Script Date: 08/12/2021 11:17:30 CH ******/
CREATE UNIQUE NONCLUSTERED INDEX [MSmerge_index_245575913] ON [dbo].[CT_DONGHOCPHI]
(
	[rowguid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UK_DANGKY]    Script Date: 08/12/2021 11:17:30 CH ******/
ALTER TABLE [dbo].[DANGKY] ADD  CONSTRAINT [UK_DANGKY] UNIQUE NONCLUSTERED 
(
	[MALTC] ASC,
	[MASV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [MSmerge_index_277576027]    Script Date: 08/12/2021 11:17:30 CH ******/
CREATE UNIQUE NONCLUSTERED INDEX [MSmerge_index_277576027] ON [dbo].[DANGKY]
(
	[rowguid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [MSmerge_index_309576141]    Script Date: 08/12/2021 11:17:30 CH ******/
CREATE UNIQUE NONCLUSTERED INDEX [MSmerge_index_309576141] ON [dbo].[GIANGVIEN]
(
	[rowguid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [MSmerge_index_341576255]    Script Date: 08/12/2021 11:17:30 CH ******/
CREATE UNIQUE NONCLUSTERED INDEX [MSmerge_index_341576255] ON [dbo].[HOCPHI]
(
	[rowguid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_KHOA]    Script Date: 08/12/2021 11:17:30 CH ******/
ALTER TABLE [dbo].[KHOA] ADD  CONSTRAINT [IX_KHOA] UNIQUE NONCLUSTERED 
(
	[TENKHOA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [MSmerge_index_373576369]    Script Date: 08/12/2021 11:17:30 CH ******/
CREATE UNIQUE NONCLUSTERED INDEX [MSmerge_index_373576369] ON [dbo].[KHOA]
(
	[rowguid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [MSmerge_index_405576483]    Script Date: 08/12/2021 11:17:30 CH ******/
CREATE UNIQUE NONCLUSTERED INDEX [MSmerge_index_405576483] ON [dbo].[LOP]
(
	[rowguid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UK_LOPTINCHI]    Script Date: 08/12/2021 11:17:30 CH ******/
ALTER TABLE [dbo].[LOPTINCHI] ADD  CONSTRAINT [UK_LOPTINCHI] UNIQUE NONCLUSTERED 
(
	[NIENKHOA] ASC,
	[HOCKY] ASC,
	[MAMH] ASC,
	[NHOM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [MSmerge_index_437576597]    Script Date: 08/12/2021 11:17:30 CH ******/
CREATE UNIQUE NONCLUSTERED INDEX [MSmerge_index_437576597] ON [dbo].[LOPTINCHI]
(
	[rowguid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [MSmerge_index_485576768]    Script Date: 08/12/2021 11:17:30 CH ******/
CREATE UNIQUE NONCLUSTERED INDEX [MSmerge_index_485576768] ON [dbo].[MONHOC]
(
	[rowguid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [MSmerge_index_517576882]    Script Date: 08/12/2021 11:17:30 CH ******/
CREATE UNIQUE NONCLUSTERED INDEX [MSmerge_index_517576882] ON [dbo].[SINHVIEN]
(
	[rowguid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CT_DONGHOCPHI] ADD  CONSTRAINT [DF_CT_DONGHOCPHI_NGAYDONG]  DEFAULT (getdate()) FOR [NGAYDONG]
GO
ALTER TABLE [dbo].[CT_DONGHOCPHI] ADD  CONSTRAINT [MSmerge_df_rowguid_2B367E88B61E46539B31CD1E699C5451]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[HOCPHI] ADD  CONSTRAINT [DF_HOCPHI_HOCKY]  DEFAULT ((1)) FOR [HOCKY]
GO
ALTER TABLE [dbo].[HOCPHI] ADD  CONSTRAINT [DF_HOCPHI_HOCPHI]  DEFAULT ((6000000)) FOR [HOCPHI]
GO
ALTER TABLE [dbo].[HOCPHI] ADD  CONSTRAINT [MSmerge_df_rowguid_C7DE4D8AE5C5481289EC0804F4624D31]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[CT_DONGHOCPHI]  WITH CHECK ADD  CONSTRAINT [FK_CT_DONGHOCPHI_HOCPHI] FOREIGN KEY([MASV], [NIENKHOA], [HOCKY])
REFERENCES [dbo].[HOCPHI] ([MASV], [NIENKHOA], [HOCKY])
GO
ALTER TABLE [dbo].[CT_DONGHOCPHI] CHECK CONSTRAINT [FK_CT_DONGHOCPHI_HOCPHI]
GO
ALTER TABLE [dbo].[DANGKY]  WITH CHECK ADD  CONSTRAINT [FK_CTLTC_SINHVIEN] FOREIGN KEY([MASV])
REFERENCES [dbo].[SINHVIEN] ([MASV])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[DANGKY] CHECK CONSTRAINT [FK_CTLTC_SINHVIEN]
GO
ALTER TABLE [dbo].[DANGKY]  WITH CHECK ADD  CONSTRAINT [FK_DANGKY_LOPTINCHI] FOREIGN KEY([MALTC])
REFERENCES [dbo].[LOPTINCHI] ([MALTC])
GO
ALTER TABLE [dbo].[DANGKY] CHECK CONSTRAINT [FK_DANGKY_LOPTINCHI]
GO
ALTER TABLE [dbo].[GIANGVIEN]  WITH CHECK ADD  CONSTRAINT [FK_GIANGVIEN_KHOA] FOREIGN KEY([MAKHOA])
REFERENCES [dbo].[KHOA] ([MAKHOA])
GO
ALTER TABLE [dbo].[GIANGVIEN] CHECK CONSTRAINT [FK_GIANGVIEN_KHOA]
GO
ALTER TABLE [dbo].[HOCPHI]  WITH CHECK ADD  CONSTRAINT [FK_HOCPHI_SINHVIEN] FOREIGN KEY([MASV])
REFERENCES [dbo].[SINHVIEN] ([MASV])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[HOCPHI] CHECK CONSTRAINT [FK_HOCPHI_SINHVIEN]
GO
ALTER TABLE [dbo].[LOP]  WITH CHECK ADD  CONSTRAINT [FK_LOP_KHOA] FOREIGN KEY([MAKHOA])
REFERENCES [dbo].[KHOA] ([MAKHOA])
GO
ALTER TABLE [dbo].[LOP] CHECK CONSTRAINT [FK_LOP_KHOA]
GO
ALTER TABLE [dbo].[LOPTINCHI]  WITH CHECK ADD  CONSTRAINT [FK_LOPTINCHI_GIANGVIEN] FOREIGN KEY([MAGV])
REFERENCES [dbo].[GIANGVIEN] ([MAGV])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[LOPTINCHI] CHECK CONSTRAINT [FK_LOPTINCHI_GIANGVIEN]
GO
ALTER TABLE [dbo].[LOPTINCHI]  WITH CHECK ADD  CONSTRAINT [FK_LOPTINCHI_KHOA] FOREIGN KEY([MAKHOA])
REFERENCES [dbo].[KHOA] ([MAKHOA])
GO
ALTER TABLE [dbo].[LOPTINCHI] CHECK CONSTRAINT [FK_LOPTINCHI_KHOA]
GO
ALTER TABLE [dbo].[LOPTINCHI]  WITH CHECK ADD  CONSTRAINT [FK_LOPTINCHI_MONHOC] FOREIGN KEY([MAMH])
REFERENCES [dbo].[MONHOC] ([MAMH])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[LOPTINCHI] CHECK CONSTRAINT [FK_LOPTINCHI_MONHOC]
GO
ALTER TABLE [dbo].[SINHVIEN]  WITH CHECK ADD  CONSTRAINT [FK_SINHVIEN_LOP] FOREIGN KEY([MALOP])
REFERENCES [dbo].[LOP] ([MALOP])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[SINHVIEN] CHECK CONSTRAINT [FK_SINHVIEN_LOP]
GO
ALTER TABLE [dbo].[CT_DONGHOCPHI]  WITH CHECK ADD  CONSTRAINT [CK_SOTIENDONG] CHECK  (([SOTIENDONG]>(0)))
GO
ALTER TABLE [dbo].[CT_DONGHOCPHI] CHECK CONSTRAINT [CK_SOTIENDONG]
GO
ALTER TABLE [dbo].[DANGKY]  WITH CHECK ADD  CONSTRAINT [CK_DIEM_CC] CHECK  (([DIEM_CC]>=(0) AND [DIEM_CC]<=(10)))
GO
ALTER TABLE [dbo].[DANGKY] CHECK CONSTRAINT [CK_DIEM_CC]
GO
ALTER TABLE [dbo].[DANGKY]  WITH CHECK ADD  CONSTRAINT [CK_DIEM_CK] CHECK  (([DIEM_CK]>=(0) AND [DIEM_CK]<=(10)))
GO
ALTER TABLE [dbo].[DANGKY] CHECK CONSTRAINT [CK_DIEM_CK]
GO
ALTER TABLE [dbo].[DANGKY]  WITH CHECK ADD  CONSTRAINT [CK_DIEM_GK] CHECK  (([DIEM_GK]>=(0) AND [DIEM_GK]<=(10)))
GO
ALTER TABLE [dbo].[DANGKY] CHECK CONSTRAINT [CK_DIEM_GK]
GO
ALTER TABLE [dbo].[HOCPHI]  WITH CHECK ADD  CONSTRAINT [CK_HOCKY] CHECK  (([HOCKY]>=(1) AND [HOCKY]<=(4)))
GO
ALTER TABLE [dbo].[HOCPHI] CHECK CONSTRAINT [CK_HOCKY]
GO
ALTER TABLE [dbo].[HOCPHI]  WITH CHECK ADD  CONSTRAINT [CK_HOCPHI] CHECK  (([HOCPHI]>(0)))
GO
ALTER TABLE [dbo].[HOCPHI] CHECK CONSTRAINT [CK_HOCPHI]
GO
ALTER TABLE [dbo].[LOPTINCHI]  WITH CHECK ADD  CONSTRAINT [CK_HOCKI] CHECK  (([HOCKY]>=(1) AND [HOCKY]<=(4)))
GO
ALTER TABLE [dbo].[LOPTINCHI] CHECK CONSTRAINT [CK_HOCKI]
GO
ALTER TABLE [dbo].[LOPTINCHI]  WITH CHECK ADD  CONSTRAINT [CK_NHOM] CHECK  (([NHOM]>=(1)))
GO
ALTER TABLE [dbo].[LOPTINCHI] CHECK CONSTRAINT [CK_NHOM]
GO
ALTER TABLE [dbo].[LOPTINCHI]  WITH CHECK ADD  CONSTRAINT [CK_SOSVTOITHIEU] CHECK  (([SOSVTOITHIEU]>(0)))
GO
ALTER TABLE [dbo].[LOPTINCHI] CHECK CONSTRAINT [CK_SOSVTOITHIEU]
GO
ALTER TABLE [dbo].[LOPTINCHI]  WITH NOCHECK ADD  CONSTRAINT [repl_identity_range_AD6E136F_92BE_40DC_A98B_038D1B522BE5] CHECK NOT FOR REPLICATION (([MALTC]>(5) AND [MALTC]<=(1005) OR [MALTC]>(1005) AND [MALTC]<=(2005)))
GO
ALTER TABLE [dbo].[LOPTINCHI] CHECK CONSTRAINT [repl_identity_range_AD6E136F_92BE_40DC_A98B_038D1B522BE5]
GO
/****** Object:  StoredProcedure [dbo].[CHECK_CONFLICT_HP]    Script Date: 08/12/2021 11:17:30 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[CHECK_CONFLICT_HP]
@masv NCHAR(10), @nienkhoa NCHAR(9), @hocky INT
AS
BEGIN

	IF EXISTS (
		SELECT MASV
		FROM HOCPHI
		WHERE MASV = @masv AND NIENKHOA = @nienkhoa AND HOCKY = @hocky
	) 
		RETURN 1;
	RETURN 0;
END



GO
/****** Object:  StoredProcedure [dbo].[SelectSinhVien]    Script Date: 08/12/2021 11:17:30 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SelectSinhVien]
AS
	SET NOCOUNT ON;
SELECT MASV, HO, TEN, MALOP, rowguid FROM dbo.SINHVIEN

GO
/****** Object:  StoredProcedure [dbo].[SP_Bang_Diem_Het_Mon]    Script Date: 08/12/2021 11:17:30 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_Bang_Diem_Het_Mon]
@nienkhoa NCHAR(9), @hocky INT, @monhoc NCHAR(10), @nhom INT
AS
BEGIN
	

	SELECT DS.MASV, SV.HO, SV.TEN, DS.DIEM_CC, DS.DIEM_GK, DS.DIEM_CK, 
	(SELECT [dbo].[FN_TinhDiemHetMon](DS.DIEM_CC, DS.DIEM_GK, DS.DIEM_CK)) AS DIEM_HM
	FROM (
		SELECT MASV, DIEM_CC, DIEM_GK, DIEM_CK 
		FROM DANGKY DK, (
			SELECT MALTC
			FROM LOPTINCHI
			WHERE HUYLOP = 'false' 
			AND MAMH = @monhoc AND NHOM = @nhom
			AND NIENKHOA = @nienkhoa AND HOCKY = @hocky
		) LTC
		WHERE LTC.MALTC = DK.MALTC 
	
	) DS, SINHVIEN SV WITH (INDEX=IX_HOTENSV)
	WHERE  DS.MASV = SV.MASV
END


GO
/****** Object:  StoredProcedure [dbo].[SP_Bang_Diem_Tong_Ket]    Script Date: 08/12/2021 11:17:30 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_Bang_Diem_Tong_Ket]
AS
BEGIN
	DECLARE @columns NVARCHAR(MAX), @sql NVARCHAR(MAX);
	SET @columns = N'';
	SELECT @columns += N', ' + quotename(TENMH)
	  FROM (SELECT TENMH FROM #tam group by TENMH ) AS x;
	SET @sql = N'
		SELECT MASVHOTEN as [Tên Sinh Viên],' + STUFF(@columns, 1, 2, '') + '
		FROM
		(
		  SELECT MASVHOTEN, DIEM_CK, TENMH
		   FROM #tam 
		) AS j
		PIVOT
		(
		  SUM(DIEM_CK) FOR TENMH IN ('
		  + STUFF(REPLACE(@columns, ', [', ',['), 1, 1, '')
		  + ')
		) AS p;';
	PRINT @sql;
	EXEC sp_executesql @sql;
END

GO
/****** Object:  StoredProcedure [dbo].[SP_BANGDIEM]    Script Date: 08/12/2021 11:17:30 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE proc [dbo].[SP_BANGDIEM]
@nienkhoa nchar(9),
@hocky int,
@mamh nchar(10),
@nhom int
as
begin

	DECLARE @MALTC INT
	SELECT @MALTC =  LTC1.MALTC
			from (SELECT MALTC, SOSVTOITHIEU
					FROM LOPTINCHI
					WHERE nienkhoa=@nienkhoa
					and hocky=@hocky
					and mamh=@mamh 
					and nhom=@nhom 
					and huylop=0) AS LTC1, DANGKY
			WHERE LTC1.MALTC = DANGKY.MALTC
			AND HUYDANGKY=0
			GROUP BY LTC1.MALTC, SOSVTOITHIEU HAVING COUNT(MASV) >= SOSVTOITHIEU
	select @MALTC AS MALTC, SV.MASV , SV.HO + ' ' + SV.TEN as HOTEN,
	 DIEM_CC, DIEM_GK, DIEM_CK, CAST(COALESCE((DIEM_CC*0.1 + DIEM_GK*0.3 + DIEM_CK*0.6),0) AS NUMERIC(3,1)) AS DIEM_TONG
	FROM DANGKY AS DK,
		 SINHVIEN AS SV
	WHERE @MALTC = DK.MALTC
	AND DK.MASV = SV.MASV
	AND HUYDANGKY =0
end




GO
/****** Object:  StoredProcedure [dbo].[SP_BANGDIEM2]    Script Date: 08/12/2021 11:17:30 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE proc [dbo].[SP_BANGDIEM2]
@nienkhoa nchar(9),
@hocky int,
@mamh nchar(10),
@magv nchar(10),
@nhom int
as
begin

	select LTC.MALTC, SV.MASV , SV.HO + ' ' + SV.TEN as HOTEN,
	 DIEM_CC, DIEM_GK, DIEM_CK, CAST(COALESCE((DIEM_CC*0.1 + DIEM_GK*0.3 + DIEM_CK*0.6),0) AS NUMERIC(3,1)) AS DIEM_TONG
	FROM (
			SELECT maltc
			from loptinchi
			where nienkhoa=@nienkhoa
			and hocky=@hocky
			and mamh=@mamh 
			and magv=@magv 
			and nhom=@nhom 
			and huylop=0
			) AS LTC, DANGKY AS DK, SINHVIEN AS SV
	WHERE LTC.MALTC = DK.MALTC
	AND DK.MASV = SV.MASV
	AND HUYDANGKY =0
end

GO
/****** Object:  StoredProcedure [dbo].[SP_BC_DIEMTONGKET]    Script Date: 08/12/2021 11:17:30 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE PROC [dbo].[SP_BC_DIEMTONGKET]
@MALOP NCHAR(10)
AS
	BEGIN
		SELECT (SV.MASV+ '-' + HO + ' ' + TEN) AS TTSV, TENMH AS MAMH, MAX(CAST(COALESCE((DIEM_CC*0.1 + DIEM_GK*0.3 + DIEM_CK*0.6),0) AS NUMERIC(3,1))) AS DIEM
		FROM (	SELECT MASV, HO, TEN
				FROM SINHVIEN
				WHERE SINHVIEN.MALOP=@MALOP
				AND DANGHIHOC=0
				) AS SV,

				DANGKY AS DK,
				LOPTINCHI AS LTC,
				MONHOC AS MH
		WHERE DK.MASV=SV.MASV
		AND DK.MALTC = LTC.MALTC
		AND LTC.MAMH = MH.MAMH
		AND DK.HUYDANGKY = 0
		AND LTC.HUYLOP = 0
		GROUP BY (SV.MASV+ '-' + HO + ' ' + TEN), TENMH

	END




GO
/****** Object:  StoredProcedure [dbo].[SP_BC_SVDKLTC]    Script Date: 08/12/2021 11:17:30 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE proc [dbo].[SP_BC_SVDKLTC]
@NIENKHOA NCHAR(9),
@HOCKY INT,
@MAMH NCHAR(10),
@NHOM INT
AS
	BEGIN
		SELECT SV.MASV, HO, TEN, (CASE WHEN PHAI = 0 THEN N'NAM' ELSE N'NỮ' END) AS PHAI, MALOP
		FROM	(SELECT MALTC
				FROM LOPTINCHI
				WHERE  MAMH=@MAMH 
				AND NIENKHOA=@NIENKHOA
				AND NHOM=@NHOM
				AND HOCKY=@HOCKY
				AND HUYLOP = 0
				) AS LTC,
				(SELECT MALTC, MASV FROM DANGKY WHERE HUYDANGKY=0) AS DK,
				(SELECT MASV, HO, TEN,PHAI, MALOP FROM SINHVIEN WHERE DANGHIHOC=0) AS SV
		WHERE DK.MALTC = LTC.MALTC
		AND DK.MASV = SV.MASV
		ORDER BY (TEN+HO) ASC
		
	END


GO
/****** Object:  StoredProcedure [dbo].[SP_BC_SVDKLTC2]    Script Date: 08/12/2021 11:17:30 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE proc [dbo].[SP_BC_SVDKLTC2]
@NIENKHOA NCHAR(9),
@HOCKY INT,
@MAMH NCHAR(10),
@MAGV NCHAR(10),
@NHOM INT
AS
	BEGIN
		SELECT SV.MASV, HO, TEN, (CASE WHEN PHAI = 0 THEN N'NAM' ELSE N'NỮ' END) AS PHAI, MALOP
		FROM	(SELECT MALTC
				FROM LOPTINCHI
				WHERE MAGV=@MAGV
				AND MAMH=@MAMH 
				AND NIENKHOA=@NIENKHOA
				AND NHOM=@NHOM
				AND HOCKY=@HOCKY
				) AS LTC,
				DANGKY AS DK,
				SINHVIEN AS SV
		WHERE DK.MALTC = LTC.MALTC
		AND DK.MASV = SV.MASV
		ORDER BY (TEN+HO) ASC
		
	END

GO
/****** Object:  StoredProcedure [dbo].[SP_CHECK_MSSV_EXITS]    Script Date: 08/12/2021 11:17:30 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[SP_CHECK_MSSV_EXITS]
@masv nchar(10)
AS
BEGIN
	IF EXISTS (
		SELECT * FROM SINHVIEN WHERE MASV = @masv
	) RETURN 1;
	ELSE 
		IF EXISTS (
		SELECT * FROM LINK0.QLDSV.dbo.SINHVIEN WHERE MASV = @masv)
			RETURN 1;
		ELSE RETURN 0;
	RETURN 0;

END

GO
/****** Object:  StoredProcedure [dbo].[SP_CHECKID]    Script Date: 08/12/2021 11:17:30 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_CHECKID] @Code NVARCHAR(15),
@Type NVARCHAR(15)
AS
BEGIN
	-- LOP
	IF(@Type = 'MALOP')
	BEGIN
		
		IF EXISTS(SELECT * FROM dbo.LOP WHERE dbo.LOP.MALOP = @Code)
			RETURN 1; -- Mã tồn tại ở phân mãnh hiện tại
	
		ELSE IF EXISTS(SELECT * FROM LINK1.QLDSV.dbo.LOP AS LOP WHERE LOP.MALOP = @Code)
			RETURN 2;	--Mã NV tồn tại ở phân mãnh  khác

		ELSE IF EXISTS(SELECT * FROM LINK0.QLDSV.dbo.LOP AS LOP WHERE LOP.MALOP = @Code)
			RETURN 2;	--Mã NV tồn tại ở phân mãnh  khác
	END

	--MON Hoc
	IF(@Type = 'MAMONHOC')
	BEGIN
		IF EXISTS(SELECT * FROM dbo.MONHOC WHERE MAMH = @Code)
		RETURN 1;
	END
	
	


		IF(@Type = 'MASV')
	BEGIN
		
		IF EXISTS(SELECT * FROM dbo.SINHVIEN WHERE dbo.SINHVIEN.MASV = @Code)
			RETURN 1; -- Mã tồn tại ở phân mãnh hiện tại
	
		ELSE IF EXISTS(SELECT * FROM LINK1.QLDSV.dbo.SINHVIEN AS SV WHERE SV.MASV = @Code)
			RETURN 2;	--Mã NV tồn tại ở phân mãnh  khác

		ELSE IF EXISTS(SELECT * FROM LINK0.QLDSV.dbo.SINHVIEN AS SV WHERE SV.MASV = @Code)
			RETURN 2;	--Mã NV tồn tại ở phân mãnh  khác
	END

	IF(@Type = 'MALTC')
	BEGIN
		
		IF EXISTS(SELECT * FROM dbo.LOPTINCHI WHERE dbo.LOPTINCHI.MALTC = @Code)
			RETURN 1; -- Mã tồn tại ở phân mãnh hiện tại
	
		ELSE IF EXISTS(SELECT * FROM LINK1.QLDSV.dbo.LOPTINCHI AS SV WHERE SV.MALTC = @Code)
			RETURN 2;	--Mã NV tồn tại ở phân mãnh  khác

		ELSE IF EXISTS(SELECT * FROM LINK0.QLDSV.dbo.LOPTINCHI AS SV WHERE SV.MALTC = @Code)
			RETURN 2;	--Mã NV tồn tại ở phân mãnh  khác
	END

	RETURN 0	--Không bị trùng được thêm
END
GO
/****** Object:  StoredProcedure [dbo].[SP_CHECKLOPTINCHI]    Script Date: 08/12/2021 11:17:30 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[SP_CHECKLOPTINCHI] 
@NienKhoa NVARCHAR(15),
@HocKy NVARCHAR(15),
@MaMH NVARCHAR(15),
@Nhom NVARCHAR(15)
AS
BEGIN

	BEGIN
		
		IF EXISTS(SELECT * FROM dbo.LOPTINCHI WHERE dbo.LOPTINCHI.NIENKHOA= @NienKhoa
													AND dbo.LOPTINCHI.HOCKY= @HocKy
													AND dbo.LOPTINCHI.MAMH= @MaMH
													AND dbo.LOPTINCHI.NHOM= @Nhom)
			RETURN 1; -- Lớp tín chỉ tồn tại ở phân mãnh hiện tại
	
		ELSE IF EXISTS(SELECT * FROM LINK1.QLDSV.dbo.LOPTINCHI AS LOPTINCHI WHERE LOPTINCHI.NIENKHOA= @NienKhoa
																	AND LOPTINCHI.HOCKY= @HocKy
																	AND LOPTINCHI.MAMH= @MaMH
																	AND LOPTINCHI.NHOM= @Nhom)
			RETURN 2;	--Lớp tín chỉ tồn tại ở phân mãnh  khác

		ELSE IF EXISTS(SELECT * FROM LINK0.QLDSV.dbo.LOPTINCHI AS LOPTINCHI WHERE LOPTINCHI.NIENKHOA= @NienKhoa
																	AND LOPTINCHI.HOCKY= @HocKy
																	AND LOPTINCHI.MAMH= @MaMH
																	AND LOPTINCHI.NHOM= @Nhom)
			RETURN 2;	--Lớp tín chỉ tồn tại ở phân mãnh  khác
	END


	RETURN 0	--Không bị trùng được thêm
END


GO
/****** Object:  StoredProcedure [dbo].[SP_CHECKNAME]    Script Date: 08/12/2021 11:17:30 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_CHECKNAME]
@Name NVARCHAR(50),
@Type NVARCHAR(15)
AS
BEGIN
	--Kiểm tra Table lop của server hiện tại
	IF(@Type = 'TENLOP')
	BEGIN
		IF EXISTS(SELECT * FROM dbo.LOP WHERE dbo.LOP.TENLOP = @Name)
			RETURN 1; -- @name bị trùng  ở phân mãnh hiện tại
	
		ELSE IF EXISTS(SELECT * FROM LINK1.QLDSV.dbo.LOP AS LOP WHERE LOP.TENLOP = @Name)
			RETURN 2;	--@name bị trùng ở phân mãnh  khác

		ELSE IF EXISTS(SELECT * FROM LINK0.QLDSV.dbo.LOP AS LOP WHERE LOP.TENLOP = @Name)
			RETURN 2;	--@name bị trùng ở phân mãnh  khác
	END

	IF(@Type = 'TENMONHOC')
	BEGIN
		IF EXISTS(SELECT * FROM dbo.MONHOC WHERE TENMH = @Name)
		RETURN 1;
	END
	
	RETURN 0	--Không bị trùng ,được thêm
END
GO
/****** Object:  StoredProcedure [dbo].[Sp_Chi_Tiet_Dong_HP]    Script Date: 08/12/2021 11:17:30 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[Sp_Chi_Tiet_Dong_HP]
@masv nchar(10), @hocky int, @nienkhoa nchar(9)

as
begin
	select NGAYDONG, SOTIENDONG
	from CT_DONGHOCPHI
	where MASV = @masv AND NIENKHOA = @nienkhoa AND HOCKY = @hocky 
end

GO
/****** Object:  StoredProcedure [dbo].[SP_DANGKY_MONHOC]    Script Date: 08/12/2021 11:17:30 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





CREATE proc [dbo].[SP_DANGKY_MONHOC]
@NIENKHOA nchar(9),
@HOCKY int
as
begin
select ltc.MALTC, mh.MAMH, mh.TENMH, ltc.NHOM, gv.MAGV,
		gv.HO + ' ' + gv.TEN as HOTENGV, 
		SVDK =(select count(*) from dangky where ltc.MALTC = dangky.MALTC and HUYDANGKY=0),
		DANGKY=0
from (select MALTC, MAMH, MAGV, NHOM from LOPTINCHI where NIENKHOA=@NIENKHOA and HOCKY = @HOCKY) as ltc,
MONHOC as mh, GIANGVIEN as gv
where mh.MAMH = ltc.MAMH
and gv.MAGV = ltc.MAGV
end





GO
/****** Object:  StoredProcedure [dbo].[SP_DANGNHAP_GV]    Script Date: 08/12/2021 11:17:30 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_DANGNHAP_GV]
@TENLOGIN NVARCHAR( 100)
AS
DECLARE @UID INT
DECLARE @MAGV NVARCHAR(100)
SELECT @UID= uid , @MAGV= NAME FROM sys.sysusers 
  WHERE sid = SUSER_SID(@TENLOGIN)

SELECT MAGV= @MAGV, 
       HOTEN = (SELECT HO+ ' '+TEN FROM dbo.GIANGVIEN WHERE MAGV=@MAGV ), 
       TENNHOM=NAME
  FROM sys.sysusers
    WHERE UID = (SELECT groupuid FROM sys.sysmembers WHERE memberuid=@uid)
GO
/****** Object:  StoredProcedure [dbo].[SP_DANGNHAP_SV]    Script Date: 08/12/2021 11:17:30 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROC [dbo].[SP_DANGNHAP_SV]
@TENLOGIN NVARCHAR(100),
@MASV NCHAR(10),
@PASSWORD NVARCHAR(40)
AS
DECLARE @UID INT
SELECT @UID = uid FROM sys.sysusers
	WHERE sid = SUSER_SID(@TENLOGIN)

SELECT @MASV AS MASV,
 HO + ' ' + TEN AS HOTEN,
		TENNHOM = (SELECT NAME FROM sys.sysusers WHERE uid = (SELECT groupuid from sys.sysmembers where memberuid = @UID)),
		MALOP
		FROM DBO.SINHVIEN WHERE MASV = @MASV AND PASSWORD=@PASSWORD



GO
/****** Object:  StoredProcedure [dbo].[SP_DANGNHAP_SV2]    Script Date: 08/12/2021 11:17:30 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROC [dbo].[SP_DANGNHAP_SV2]
@TENLOGIN NVARCHAR(100)
AS
DECLARE @UID INT
DECLARE @MASV NVARCHAR(100)
SELECT @UID = uid, @MASV = NAME FROM sys.sysusers
	WHERE sid = SUSER_SID(@TENLOGIN)

SELECT MASV = @MASV,
		HO + ' ' + TEN AS HOTEN,
		TENNHOM = (SELECT NAME FROM sys.sysusers WHERE uid = (SELECT groupuid from sys.sysmembers where memberuid = @UID)),
		MALOP
		FROM SINHVIEN WHERE MASV=@MASV


GO
/****** Object:  StoredProcedure [dbo].[SP_Danh_Sach_Diem_Theo_Lop]    Script Date: 08/12/2021 11:17:30 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_Danh_Sach_Diem_Theo_Lop]
@malop NCHAR(10)
AS
BEGIN
	SELECT SV.MASV, HO, TEN, MALTC, MAX(DIEM_CK) DIEM_CK INTO #dsdiemsv
	FROM (
		SELECT MASV, HO, TEN
		FROM SINHVIEN 
		WHERE MALOP = 'N15CQCP01'
	) SV , DANGKY DK
	WHERE SV.MASV = DK.MASV 
	GROUP BY SV.MASV, HO, TEN, MALTC

	SELECT DS.MASv+' - '+HO+' ' + TEN AS MASVHOTEN,  MH.TENMH, DIEM_CK INTO #tam
	FROM (SELECT DSD.MASV, HO, TEN, DIEM_CK, LTC.MAMH
		FROM LOPTINCHI LTC, #dsdiemsv DSD
		WHERE LTC.MALTC = DSD.MALTC) DS, 
		MONHOC MH
	WHERE  MH.MAMH = DS.MAMH

	DECLARE @columns NVARCHAR(MAX), @sql NVARCHAR(MAX);
	SET @columns = N'';
	SELECT @columns += N', ' + quotename(TENMH)
	  FROM (SELECT TENMH FROM #tam group by TENMH ) AS x;
	SET @sql = N'
		SELECT MASVHOTEN as [Tên Sinh Viên],' + STUFF(@columns, 1, 2, '') + '
		FROM
		(
		  SELECT MASVHOTEN, DIEM_CK, TENMH
		   FROM #tam 
		) AS j
		PIVOT
		(
		  SUM(DIEM_CK) FOR TENMH IN ('
		  + STUFF(REPLACE(@columns, ', [', ',['), 1, 1, '')
		  + ')
		) AS p;';
	PRINT @sql;
	EXEC sp_executesql @sql;
END;


GO
/****** Object:  StoredProcedure [dbo].[SP_Danh_sach_dong_HP]    Script Date: 08/12/2021 11:17:30 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[SP_Danh_sach_dong_HP]
@malop nchar(10),@nienkhoa NCHAR(9), @hocky INT

AS
BEGIN
	
	

	SELECT  A.HOTEN, A.HOCPHI, ISNULL(B.SOTIENDONG , 0) AS TIENDADONG
	FROM (
		SELECT SV.MASV, HP.HOCPHI, SV.HOTEN
		FROM HOCPHI HP, (
			SELECT MASV, HO +' ' +TEN AS HOTEN
			FROM SINHVIEN 
			WHERE MALOP = @malop	
		)  SV
		WHERE HP.MASV = SV.MASV AND HP.NIENKHOA = @nienkhoa AND HP.HOCKY = @hocky) A
	LEFT OUTER JOIN (
		SELECT SV.MASV, SUM(CTHP.SOTIENDONG) AS SOTIENDONG
		FROM CT_DONGHOCPHI CTHP, (
			SELECT MASV, HO +' ' +TEN AS HOTEN
			FROM SINHVIEN 
			WHERE MALOP = @malop	
		) SV
		WHERE SV.MASV = CTHP.MASV AND CTHP.NIENKHOA = @nienkhoa AND CTHP.HOCKY = @hocky
		GROUP BY SV.MASV
	) B
	ON B.MASV = A.MASV
END

GO
/****** Object:  StoredProcedure [dbo].[SP_Danh_Sach_SVDK_Lop_TC]    Script Date: 08/12/2021 11:17:30 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROC [dbo].[SP_Danh_Sach_SVDK_Lop_TC]
@nienkhoa NCHAR(9), @hocky INT, @monhoc NCHAR(10), @nhom INT

AS
BEGIN
	SELECT MASV INTO #dssvdangkyltc
	FROM DANGKY DK, (
		SELECT MALTC
		FROM LOPTINCHI
		WHERE HUYLOP = 'false' 
		AND NIENKHOA = @nienkhoa 
		AND HOCKY = @hocky AND MAMH = @monhoc
	) LTC
	WHERE LTC.MALTC = DK.MALTC 


	SELECT SV.MASV, SV.HO, SV.TEN, SV.PHAI , MALOP 
	FROM SINHVIEN SV WITH (INDEX=IX_HOTENSV), #dssvdangkyltc
	WHERE SV.MASV = #dssvdangkyltc.MASV 


END









GO
/****** Object:  StoredProcedure [dbo].[SP_DS_DKMH]    Script Date: 08/12/2021 11:17:30 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE proc [dbo].[SP_DS_DKMH]
@MASV nchar(10),
@NIENKHOA nchar(9),
@HOCKY int
as
begin
	select LTC2.MALTC, MH.MAMH, MH.TENMH, GV.MAGV, GV.HO + ' ' + GV.TEN AS HOTENGV, LTC2.NHOM
	from (select LTC.MALTC, MAMH, MAGV, NHOM
			from (select MALTC, MAMH, MAGV, NHOM from LOPTINCHI where NIENKHOA = @NIENKHOA and HOCKY=@HOCKY) as LTC,
				(select MALTC from DANGKY where MASV=@MASV and HUYDANGKY=0) as DK 
			where LTC.MALTC = DK.MALTC) as LTC2,
	MONHOC as MH, GIANGVIEN as GV
	where MH.MAMH = LTC2.MAMH
	and GV.MAGV = LTC2.MAGV
end

GO
/****** Object:  StoredProcedure [dbo].[SP_DS_Lop_Tin_Chi]    Script Date: 08/12/2021 11:17:30 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_DS_Lop_Tin_Chi]
@nienkhoa nchar(9) , @hocky int
AS
BEGIN
	SELECT MALTC, COUNT(MALTC) SODK INTO #sodangky
	FROM DANGKY
	WHERE HUYDANGKY = 'false'
	GROUP BY (MALTC)

	SELECT ROW_NUMBER() OVER (ORDER BY MH.TENMH, LTC.NHOM) AS [STT], MH.TENMH,  LTC.NHOM, GV.HO + ' ' +GV.TEN AS HOTENGV, LTC.SOSVTOITHIEU, (ISNULL(LTC.SODK, 0)) AS SOSVDK
	FROM (SELECT  LTC.MAMH,  LTC.NHOM, LTC.MAGV, LTC.SOSVTOITHIEU, #sodangky.SODK AS SODK
	FROM LOPTINCHI LTC
	LEFT JOIN #sodangky
	ON #sodangky.MALTC = LTC.MALTC
	WHERE LTC.NIENKHOA = @nienkhoa AND LTC.HOCKY = @hocky AND LTC.HUYLOP ='false'
	) LTC , GIANGVIEN GV, MONHOC MH
	WHERE GV.MAGV = LTC.MAGV AND MH.MAMH = LTC.MAMH
END


GO
/****** Object:  StoredProcedure [dbo].[SP_DS_NIENKHOA]    Script Date: 08/12/2021 11:17:30 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[SP_DS_NIENKHOA]
as
begin
	select distinct nienkhoa
	from loptinchi
end
GO
/****** Object:  StoredProcedure [dbo].[SP_DSMH_FILTER]    Script Date: 08/12/2021 11:17:30 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROC [dbo].[SP_DSMH_FILTER]
@NIENKHOA NCHAR(9),
@HOCKY INT
AS
BEGIN
	SELECT MH.MAMH, TENMH
	FROM (SELECT MAMH FROM LOPTINCHI
			WHERE NIENKHOA=@NIENKHOA
			AND HOCKY = @HOCKY
			AND HUYLOP = 0
			) AS LTC,
			MONHOC AS MH
	WHERE LTC.MAMH = MH.MAMH
	GROUP BY MH.MAMH, TENMH
	ORDER BY TENMH
END


GO
/****** Object:  StoredProcedure [dbo].[SP_DSMH_FULL]    Script Date: 08/12/2021 11:17:30 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[SP_DSMH_FULL]
@nienkhoa nchar(9),
@hocki int
as

begin
	
	select * from loptinchi as ltc
	where nienkhoa=@nienkhoa and hocky = @hocki
end
GO
/****** Object:  StoredProcedure [dbo].[SP_DSMH_NHAPDIEM]    Script Date: 08/12/2021 11:17:30 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





CREATE proc [dbo].[SP_DSMH_NHAPDIEM]
@nienkhoa nchar(9),
@hocki int
as

begin
	
	select ltc.maltc,  mamh, ltc.magv, nhom, count(ltc.maltc) as slsvdk into #a 
	from (select maltc from dangky where huydangky=0) as dk,
	(select maltc, mamh, magv, nhom, sosvtoithieu from loptinchi where nienkhoa=@nienkhoa and hocky=@hocki and huylop=0) as ltc
	where ltc.maltc=dk.maltc  group by ltc.maltc, mamh, ltc.magv, nhom, sosvtoithieu having count(ltc.maltc) >= ltc.sosvtoithieu
	
	select maltc, mh.mamh, tenmh, gv.magv, HO + ' ' + TEN AS tengv, nhom from #a,  monhoc as mh,(select magv, ho, ten from giangvien) as gv
	where #a.mamh=mh.mamh
	and #a.MAGV = gv.MAGV
end





GO
/****** Object:  StoredProcedure [dbo].[SP_DSNHOM_FILTER]    Script Date: 08/12/2021 11:17:30 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_DSNHOM_FILTER]
@NIENKHOA NCHAR(9),
@HOCKY INT,
@MAMH NCHAR(10)

AS

BEGIN
	SELECT NHOM FROM LOPTINCHI
	WHERE MAMH = @MAMH 
	AND NIENKHOA = @NIENKHOA
	AND HOCKY = @HOCKY
	AND HUYLOP = 0
END
GO
/****** Object:  StoredProcedure [dbo].[SP_HUY_DKLTC]    Script Date: 08/12/2021 11:17:30 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[SP_HUY_DKLTC]
@MASV nchar(10),
@MALTC int
as
begin
	update dangky
	set huydangky=1
	where MASV=@MASV
	AND MALTC = @MALTC
end

GO
/****** Object:  StoredProcedure [dbo].[SP_INSERT_DIEM]    Script Date: 08/12/2021 11:17:30 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE proc [dbo].[SP_INSERT_DIEM]
@MALTC int,
@MASV nchar(10),
@DIEM_CC float,
@DIEM_GK float,
@DIEM_CK float
as
begin
                    UPDATE DANGKY  
                    SET DIEM_CC = @DIEM_CC, DIEM_GK=@DIEM_GK, DIEM_CK=@DIEM_CK   
                    WHERE MASV= @MASV AND MALTC=@MALTC 
	
end


GO
/****** Object:  StoredProcedure [dbo].[SP_INSERT_DKLTC]    Script Date: 08/12/2021 11:17:30 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE proc [dbo].[SP_INSERT_DKLTC]
@maltc int,
@masv nchar(10)
as
begin
	if exists(select 1 from dangky where masv = @masv and maltc=@maltc)
		begin
			update dangky
			set huydangky=0
			where masv = @masv and maltc=@maltc
		end
	else 
		begin
			insert into dangky(maltc, masv)
			values(@maltc, @masv)
		end
end



GO
/****** Object:  StoredProcedure [dbo].[SP_KiemTraDangNhap_SV]    Script Date: 08/12/2021 11:17:30 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[SP_KiemTraDangNhap_SV]
@TENLOGIN NCHAR(10), @PASSWORD NVARCHAR(100)
AS
SELECT MASV, HO+' '+TEN AS HOTEN FROM SINHVIEN WHERE MASV=@TENLOGIN AND PASSWORD=@PASSWORD

GO
/****** Object:  StoredProcedure [dbo].[SP_Lay_Thong_Tin_GV_Tu_Login]    Script Date: 08/12/2021 11:17:30 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_Lay_Thong_Tin_GV_Tu_Login]
@TENLOGIN NVARCHAR( 100)
AS
DECLARE @UID INT
DECLARE @MAGV NVARCHAR(100)
SELECT @UID= uid , @MAGV= NAME FROM sys.sysusers 
  WHERE sid = SUSER_SID(@TENLOGIN)

SELECT MAGV= @MAGV, 
       HOTEN = (SELECT HO+ ' '+TEN FROM dbo.GIANGVIEN WHERE MAGV=@MAGV ), 
       TENNHOM=NAME
  FROM sys.sysusers
    WHERE UID = (SELECT groupuid FROM sys.sysmembers WHERE memberuid=@uid)
GO
/****** Object:  StoredProcedure [dbo].[SP_Lay_Thong_Tin_SV_Tu_Login]    Script Date: 08/12/2021 11:17:30 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_Lay_Thong_Tin_SV_Tu_Login]
@TENLOGIN NVARCHAR( 100), @PASSWORD NVARCHAR(100)
AS
DECLARE @TONTAI INT
DECLARE @MASV NVARCHAR(100)

--IF (SELECT [dbo].[FN_TimSV]( @PASSWORD, @TENLOGIN) ) = 1
IF EXISTS (SELECT SV.MASV FROM SINHVIEN SV WHERE MASV = @TENLOGIN AND PASSWORD = @PASSWORD)
SELECT MASV,  HO +' ' +TEN  AS HOTEN, NHOM = 'SV' FROM SINHVIEN WHERE MASV = @TENLOGIN
ELSE
	IF EXISTS (SELECT SV.MASV FROM LINK1.QLDSV.DBO.SINHVIEN SV WHERE MASV = @TENLOGIN AND PASSWORD = @PASSWORD)
		RAISERROR ('Sinh viên không thuộc khoa này .',16,1)
	ELSE
		RAISERROR ('Mã sinh viên hoặc mật khẩu sai .',16,1)

GO
/****** Object:  StoredProcedure [dbo].[Sp_num_to_text]    Script Date: 08/12/2021 11:17:30 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[Sp_num_to_text]
@num INT
AS
BEGIN
	SELECT [dbo].[NUM_TO_TEXT](@num);
	
END

GO
/****** Object:  StoredProcedure [dbo].[SP_PHIEUDIEM]    Script Date: 08/12/2021 11:17:30 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_PHIEUDIEM]
@masv nchar(10)
AS
BEGIN
	IF EXISTS (SELECT 1 FROM DANGKY AS D WHERE D.MASV = @masv)
			BEGIN
				SELECT MH.TENMH, DEMO.DIEM
				FROM LOPTINCHI LTC , (
					SELECT MASV,MALTC, MAX(DIEM_CK) AS DIEM FROM DANGKY 
								WHERE MASV = @masv GROUP BY MASV,MALTC,DIEM_CC
				) AS DEMO, MONHOC MH
				WHERE LTC.MALTC = DEMO.MALTC AND MH.MAMH = LTC.MAMH 
				ORDER BY MH.TENMH
				RETURN 0;
			END
	IF EXISTS (SELECT 1 FROM LINK0.QLDSV.dbo.DANGKY AS DIEM WHERE DIEM.MASV = @masv)
		BEGIN 
			SELECT MH.TENMH, DEMO.DIEM
				FROM LINK0.QLDSV.dbo.LOPTINCHI LTC , (
					SELECT MASV,MALTC, MAX(DIEM_CK) AS DIEM FROM LINK0.QLDSV.dbo.DANGKY 
								WHERE MASV = @masv GROUP BY MASV,MALTC,DIEM_CC
				) AS DEMO, MONHOC MH
				WHERE LTC.MALTC = DEMO.MALTC AND MH.MAMH = LTC.MAMH 
				ORDER BY MH.TENMH
			END
	ELSE RETURN 1
END




GO
/****** Object:  StoredProcedure [dbo].[SP_REPORT_BANGDIEMMONHOC]    Script Date: 08/12/2021 11:17:30 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROC [dbo].[SP_REPORT_BANGDIEMMONHOC](
@NIENKHOA CHAR(15),
@HOCKY CHAR(15),
@MAMH CHAR(15),
@NHOM CHAR(15))
AS
BEGIN

	SELECT SV.MASV, SV.HO, SV.TEN, 
	CASE WHEN DS.DIEM_CC IS NULL THEN 0 ELSE COALESCE(DS.DIEM_CC,0) END AS DIEM_CC, 
	CASE WHEN DS.DIEM_GK IS NULL THEN 0 ELSE COALESCE(DS.DIEM_GK,0) END AS DIEM_GK, 
	CASE WHEN DS.DIEM_CK IS NULL THEN 0 ELSE COALESCE(DS.DIEM_CK,0) END AS DIEM_CK
	
	FROM (
		SELECT MASV, DIEM_CC, DIEM_GK, DIEM_CK 
		FROM DANGKY DK, (
			SELECT MALTC
			FROM LOPTINCHI
			WHERE HUYLOP = 'FALSE' 
			AND MAMH = @MAMH AND NHOM = @NHOM
			AND NIENKHOA = @NIENKHOA AND HOCKY = @HOCKY
		) LTC
		WHERE LTC.MALTC = DK.MALTC 
	
	) DS, SINHVIEN SV 
	WHERE  DS.MASV = SV.MASV AND SV.DANGHIHOC='FALSE'

END
GO
/****** Object:  StoredProcedure [dbo].[SP_REPORT_DANHSACHLOPTINCHI]    Script Date: 08/12/2021 11:17:30 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_REPORT_DANHSACHLOPTINCHI] @NIENKHOA CHAR(15),@HOCKY CHAR(15)
AS
BEGIN
	DECLARE @SOSVDK INT
	DECLARE @SOLOP INT
	SELECT @SOSVDK=COUNT(*) FROM DANGKY AS DK,LOPTINCHI AS LTC WHERE DK.MALTC=LTC.MALTC

	SELECT @SOLOP=COUNT(*) FROM LOPTINCHI AS L,GIANGVIEN AS GV,MONHOC AS MH
	WHERE L.MAGV=GV.MAGV AND L.MAMH=MH.MAMH AND L.HUYLOP='FALSE' AND L.NIENKHOA=@NIENKHOA AND L.HOCKY=@HOCKY

	SELECT  MH.TENMH,L.NHOM,GV.HO+' '+GV.TEN AS GIAOVIEN,L.SOSVTOITHIEU,@SOSVDK AS SOSVDANGKY, @SOLOP AS SOLOP
		
	FROM LOPTINCHI AS L,GIANGVIEN AS GV,MONHOC AS MH
	WHERE L.MAGV=GV.MAGV AND L.MAMH=MH.MAMH AND L.HUYLOP='FALSE' AND L.NIENKHOA=@NIENKHOA AND L.HOCKY=@HOCKY
END

GO
/****** Object:  StoredProcedure [dbo].[SP_TAOLOGIN]    Script Date: 08/12/2021 11:17:30 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_TAOLOGIN]
  @LGNAME VARCHAR(50),
  @PASS VARCHAR(50),
  @USERNAME VARCHAR(50),
  @ROLE VARCHAR(50)
AS

	-- check login , user bị trùng 
	IF EXISTS(SELECT name FROM sys.server_principals 
				WHERE TYPE IN ('U', 'S', 'G')	--U: Windows Login Accounts
				AND name NOT LIKE '%##%'		--S: SQL Login Accounts
				AND name = @LGNAME)				--G: Windows Group Login Accounts
		RETURN 1	--Trùng Login
	ELSE IF EXISTS(SELECT name FROM sys.database_principals
					WHERE type_desc = 'SQL_USER'
					AND name = @USERNAME)
		RETURN 2	--Trùng User

	-- băt đầu tạo tài khoản
  DECLARE @RET INT
  EXEC @RET= SP_ADDLOGIN @LGNAME, @PASS,'QLDSV'
  IF (@RET =1) 
     RETURN 3 -- tạo tài khoản không thành công
 
  EXEC @RET= SP_GRANTDBACCESS @LGNAME, @USERNAME
  IF (@RET =1) 
  BEGIN
       EXEC SP_DROPLOGIN @LGNAME
       RETURN 3 -- tạo  tài khoảng không thành công
  END
  EXEC sp_addrolemember @ROLE, @USERNAME

  --THEM ROLE SECURITYADMIN DE CO QUYEN TAO TAI KHOAN
  EXEC sp_addsrvrolemember @LGNAME, 'SecurityAdmin'

  RETURN 0  -- THANH CONG


GO
/****** Object:  StoredProcedure [dbo].[SP_Thong_tin_dong_HP_sinh_vien]    Script Date: 08/12/2021 11:17:30 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROC [dbo].[SP_Thong_tin_dong_HP_sinh_vien]
@masv nchar(10)
AS
BEGIN
	SELECT HP.NIENKHOA, HP.HOCKY, HP.HOCPHI, ISNULL(CTHP.SOTIENDONG, 0) as SOTIENDADONG,  ISNULL(HP.HOCPHI- CTHP.SOTIENDONG, HP.HOCPHI)  AS SOTIENCANDONG 
	FROM (
		SELECT NIENKHOA, HOCKY, HOCPHI, MASV
		FROM HOCPHI 
		WHERE MASV = @masv
	)HP
	LEFT OUTER JOIN (
		SELECT MASV, HOCKY, NIENKHOA, SUM(SOTIENDONG) AS SOTIENDONG 
		FROM CT_DONGHOCPHI
		GROUP BY MASV, NIENKHOA, HOCKY
	) CTHP
	ON HP.MASV = CTHP.MASV AND HP.HOCKY = CTHP.HOCKY AND HP.NIENKHOA = CTHP.NIENKHOA

END


GO
/****** Object:  StoredProcedure [dbo].[SP_TIMSV]    Script Date: 08/12/2021 11:17:30 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_TIMSV]
@MASV NVARCHAR(10)
AS
 IF EXISTS (SELECT MASV FROM SINHVIEN WHERE MASV=@MASV )
   SELECT TENKHOA =(SELECT TENKHOA FROM KHOA ),
       HOTEN =HO+ ' ' +TEN 
       FROM SINHVIEN WHERE MASV=@MASV
 ELSE
 IF EXISTS (SELECT MASV FROM LINK1.QLDSV.DBO.SINHVIEN WHERE MASV=@MASV )
   SELECT TENKHOA =(SELECT TENKHOA FROM LINK1.QLDSV.DBO.KHOA ),
       HOTEN =HO+ ' ' +TEN 
       FROM LINK1.QLDSV.DBO.SINHVIEN WHERE MASV=@MASV
  ELSE
    RAISERROR ('Mã nhân viên không có .',16,1)

GO
USE [master]
GO
